<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-bigip-index") %>>
                    <a href="/docs/providers/bigip/index.html">bigip Provider</a>
                </li>

                <li<%= sidebar_current("docs-bigip-datasource") %>>
                <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-datasource-dns-x") %>>
                            <a href="/docs/providers/bigip/d/bigip_sys_dns.html">bigip_ltm_dns</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-irule-x") %>>
                            <a href="/docs/providers/bigip/d/bigip_ltm_irule.html">bigip_ltm_irule</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-monitor-x") %>>
                            <a href="/docs/providers/bigip/d/bigip_ltm_monitor.html">bigip_ltm_monitor</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-node-x") %>>
                            <a href="/docs/providers/bigip/d/bigip_ltm_node.html">bigip_ltm_node</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-pool-x") %>>
                            <a href="/docs/providers/bigip/d/bigip_ltm_pool.html">bigip_ltm_pool</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-virtual_address-x") %>>
                            <a href="/docs/providers/bigip/d/bigip_ltm_virtual_address.html">bigip_ltm_virtual_address</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-virtual_server-x") %>>
                            <a href="/docs/providers/bigip/d/bigip_ltm_virtual_server.html">bigip_ltm_virtual_server</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-ntp-x") %>>
                            <a href="/docs/providers/bigip/d/bigip_sys_ntp.html">bigip_sys_ntp</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-provision-x") %>>
                            <a href="/docs/providers/bigip/d/bigip_sys_provision.html">bigip_sys_provision</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-bigip-x") %>>
                            <a href="/docs/providers/bigip/d/bigip.html">bigip</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-profile_fasthttp-x") %>>
                          <a href="/docs/providers/bigip/d/bigip_ltm_profile_fasthttp.html">bigip_ltm_profile_fasthttp</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-profile_fastl4") %>>
                            <a href="/docs/providers/bigip/d/bigip_ltm_profile_fastl4.html">bigip_ltm_profile_fastl4</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-profile_http2") %>>
                            <a href="/docs/providers/bigip/d/bigip_ltm_profile_http2.html">bigip_ltm_profile_http2</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-profile_oneconnect") %>>
                            <a href="/docs/providers/bigip/d/bigip_ltm_profile_oneconnect.html">bigip_ltm_profile_oneconnect</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-profile_tcp-x") %>>
                            <a href="/docs/providers/bigip/d/bigip_ltm_profile_tcp.html">bigip_ltm_profile_tcp</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-snat-x") %>>
                          <a href="/docs/providers/bigip/d/bigip_ltm_snat.html">bigip_ltm_snat</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-snat_list-x") %>>
                          <a href="/docs/providers/bigip/d/bigip_ltm_snat.html">bigip_ltm_snat</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-route-x") %>>
                          <a href="/docs/providers/bigip/d/bigip_net_route.html">bigip_net_route</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-selfip-x") %>>
                          <a href="/docs/providers/bigip/d/bigip_net_selfip.html">bigip_net_selfip</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-vlan-x") %>>
                          <a href="/docs/providers/bigip/d/bigip_net_vlan.html">bigip_net_vlan</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-snmp-x") %>>
                          <a href="/docs/providers/bigip/d/bigip_sys_snmp.html">bigip_sys_snmp</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-datasource-snmp_traps-x") %>>
                          <a href="/docs/providers/bigip/d/bigip_sys_snmp_traps.html">bigip_sys_snmp_traps</a>
                        </li>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-api-gateway") %>>
                    <a href="#">API Gateway Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-account") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_account.html">bigip_api_gateway_account</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-api-key") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_api_key.html">bigip_api_gateway_api_key</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-authorizer") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_authorizer.html">bigip_api_gateway_authorizer</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-base-path-mapping") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_base_path_mapping.html">bigip_api_gateway_base_path_mapping</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-client-certificate") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_client_certificate.html">bigip_api_gateway_client_certificate</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-deployment") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_deployment.html">bigip_api_gateway_deployment</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-domain-name") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_domain_name.html">bigip_api_gateway_domain_name</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-gateway-response") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_gateway_response.html">bigip_api_gateway_gateway_response</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-integration") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_integration.html">bigip_api_gateway_integration</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-integration-response") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_integration_response.html">bigip_api_gateway_integration_response</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-method") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_method.html">bigip_api_gateway_method</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-method-response") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_method_response.html">bigip_api_gateway_method_response</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-method-settings") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_method_settings.html">bigip_api_gateway_method_settings</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-model") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_model.html">bigip_api_gateway_model</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-resource") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_resource.html">bigip_api_gateway_resource</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-rest-api") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_rest_api.html">bigip_api_gateway_rest_api</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-stage") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_stage.html">bigip_api_gateway_stage</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-usage-plan") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_usage_plan.html">bigip_api_gateway_usage_plan</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-api-gateway-usage-plan-key") %>>
                            <a href="/docs/providers/bigip/r/api_gateway_usage_plan_key.html">bigip_api_gateway_usage_plan_key</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-appautoscaling") %>>
                    <a href="#">App Autoscaling Resources</a>
                    <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-bigip-resource-appautoscaling-policy") %>>
                        <a href="/docs/providers/bigip/r/appautoscaling_policy.html">bigip_appautoscaling_policy</a>
                      </li>

                      <li<%= sidebar_current("docs-bigip-resource-appautoscaling-target") %>>
                        <a href="/docs/providers/bigip/r/appautoscaling_target.html">bigip_appautoscaling_target</a>
                      </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-athena") %>>
                    <a href="#">Athena Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-athena-database") %>>
                            <a href="/docs/providers/bigip/r/athena_database.html">bigip_athena_database</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-athena-named-query") %>>
                          <a href="/docs/providers/bigip/r/athena_named_query.html">bigip_athena_named_query</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-batch") %>>
                    <a href="#">Batch Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-batch-compute-environment") %>>
                            <a href="/docs/providers/bigip/r/batch_compute_environment.html">bigip_batch_compute_environment</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-batch-job-definition") %>>
                            <a href="/docs/providers/bigip/r/batch_job_definition.html">bigip_batch_job_definition</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-batch-job-queue") %>>
                            <a href="/docs/providers/bigip/r/batch_job_queue.html">bigip_batch_job_queue</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-cloudformation") %>>
                    <a href="#">CloudFormation Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-cloudformation-stack") %>>
                            <a href="/docs/providers/bigip/r/cloudformation_stack.html">bigip_cloudformation_stack</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-cloudfront") %>>
                    <a href="#">CloudFront Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-cloudfront-distribution") %>>
                            <a href="/docs/providers/bigip/r/cloudfront_distribution.html">bigip_cloudfront_distribution</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-cloudfront-origin-access-identity") %>>
                            <a href="/docs/providers/bigip/r/cloudfront_origin_access_identity.html">bigip_cloudfront_origin_access_identity</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-cloudtrail") %>>
                    <a href="#">CloudTrail Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-cloudtrail") %>>
                            <a href="/docs/providers/bigip/r/cloudtrail.html">bigip_cloudtrail</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-cloudwatch") %>>
                    <a href="#">CloudWatch Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-cloudwatch-dashboard") %>>
                            <a href="/docs/providers/bigip/r/cloudwatch_dashboard.html">bigip_cloudwatch_dashboard</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-cloudwatch-event-rule") %>>
                            <a href="/docs/providers/bigip/r/cloudwatch_event_rule.html">bigip_cloudwatch_event_rule</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-cloudwatch-event-target") %>>
                            <a href="/docs/providers/bigip/r/cloudwatch_event_target.html">bigip_cloudwatch_event_target</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-cloudwatch-log-destination") %>>
                            <a href="/docs/providers/bigip/r/cloudwatch_log_destination.html">bigip_cloudwatch_log_destination</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-cloudwatch-log-destination-policy") %>>
                            <a href="/docs/providers/bigip/r/cloudwatch_log_destination_policy.html">bigip_cloudwatch_log_destination_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-cloudwatch-log-group") %>>
                            <a href="/docs/providers/bigip/r/cloudwatch_log_group.html">bigip_cloudwatch_log_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-cloudwatch-log-metric-filter") %>>
                            <a href="/docs/providers/bigip/r/cloudwatch_log_metric_filter.html">bigip_cloudwatch_log_metric_filter</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-cloudwatch-log-stream") %>>
                            <a href="/docs/providers/bigip/r/cloudwatch_log_stream.html">bigip_cloudwatch_log_stream</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-cloudwatch-log-subscription-filter") %>>
                            <a href="/docs/providers/bigip/r/cloudwatch_log_subscription_filter.html">bigip_cloudwatch_log_subscription_filter</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-cloudwatch-metric-alarm") %>>
                            <a href="/docs/providers/bigip/r/cloudwatch_metric_alarm.html">bigip_cloudwatch_metric_alarm</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-bigip-resource-codebuild") %>>
                    <a href="#">CodeBuild Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-codebuild-project") %>>
                            <a href="/docs/providers/bigip/r/codebuild_project.html">bigip_codebuild_project</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-bigip-resource-codecommit") %>>
                    <a href="#">CodeCommit Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-codecommit-repository") %>>
                            <a href="/docs/providers/bigip/r/code_commit_repository.html">bigip_codecommit_repository</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-codecommit-trigger") %>>
                            <a href="/docs/providers/bigip/r/code_commit_trigger.html">bigip_codecommit_trigger</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-codedeploy") %>>
                    <a href="#">CodeDeploy Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-codedeploy-app") %>>
                            <a href="/docs/providers/bigip/r/codedeploy_app.html">bigip_codedeploy_app</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-codedeploy-deployment-config") %>>
                            <a href="/docs/providers/bigip/r/codedeploy_deployment_config.html">bigip_codedeploy_deployment_config</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-codedeploy-deployment-group") %>>
                            <a href="/docs/providers/bigip/r/codedeploy_deployment_group.html">bigip_codedeploy_deployment_group</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-codepipeline") %>>
                    <a href="#">CodePipeline Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-codepipeline") %>>
                            <a href="/docs/providers/bigip/r/codepipeline.html">bigip_codepipeline</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-cognito") %>>
                    <a href="#">Cognito Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-cognito-identity-pool") %>>
                            <a href="/docs/providers/bigip/r/cognito_identity_pool.html">bigip_cognito_identity_pool</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-cognito-identity-pool-roles-attachment") %>>
                            <a href="/docs/providers/bigip/r/cognito_identity_pool_roles_attachment.html">bigip_cognito_identity_pool_roles_attachment</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-cognito-user-pool") %>>
                            <a href="/docs/providers/bigip/r/cognito_user_pool.html">bigip_cognito_user_pool</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-config") %>>
                    <a href="#">Config Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-config-config-rule") %>>
                            <a href="/docs/providers/bigip/r/config_config_rule.html">bigip_config_config_rule</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-config-configuration-recorder") %>>
                            <a href="/docs/providers/bigip/r/config_configuration_recorder.html">bigip_config_configuration_recorder</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-config-configuration-recorder-status") %>>
                            <a href="/docs/providers/bigip/r/config_configuration_recorder_status.html">bigip_config_configuration_recorder_status</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-config-delivery-channel") %>>
                            <a href="/docs/providers/bigip/r/config_delivery_channel.html">bigip_config_delivery_channel</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-dms") %>>
                    <a href="#">Database Migration Service</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-dms-certificate") %>>
                            <a href="/docs/providers/bigip/r/dms_certificate.html">bigip_dms_certificate</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-dms-endpoint") %>>
                            <a href="/docs/providers/bigip/r/dms_endpoint.html">bigip_dms_endpoint</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-dms-replication-instance") %>>
                            <a href="/docs/providers/bigip/r/dms_replication_instance.html">bigip_dms_replication_instance</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-dms-replication-subnet-group") %>>
                            <a href="/docs/providers/bigip/r/dms_replication_subnet_group.html">bigip_dms_replication_subnet_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-dms-replication-task") %>>
                            <a href="/docs/providers/bigip/r/dms_replication_task.html">bigip_dms_replication_task</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-devicefarm") %>>
                    <a href="#">Device Farm Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-devicefarm-project") %>>
                            <a href="/docs/providers/bigip/r/devicefarm_project.html">bigip_devicefarm_project</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-directory-service") %>>
                    <a href="#">Directory Service Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-directory-service-directory") %>>
                            <a href="/docs/providers/bigip/r/directory_service_directory.html">bigip_directory_service_directory</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-dx") %>>
                    <a href="#">Direct Connect Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-dx-connection") %>>
                            <a href="/docs/providers/bigip/r/dx_connection.html">bigip_dx_connection</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-dx-lag") %>>
                            <a href="/docs/providers/bigip/r/dx_lag.html">bigip_dx_lag</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-dynamodb") %>>
                    <a href="#">DynamoDB Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-dynamodb-table") %>>
                            <a href="/docs/providers/bigip/r/dynamodb_table.html">bigip_dynamodb_table</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-(ami|app|autoscaling|ebs|elb|elbv2|eip|instance|launch|lb|proxy|snapshot|spot|volume|placement|key-pair|elb_attachment|load-balancer)") %>>
                    <a href="#">EC2 Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-elbv2") %>>
                            <a href="/docs/providers/bigip/r/lb.html">bigip_alb</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elbv2-listener") %>>
                            <a href="/docs/providers/bigip/r/lb_listener.html">bigip_alb_listener</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elbv2-listener-rule") %>>
                          <a href="/docs/providers/bigip/r/lb_listener_rule.html">bigip_alb_listener_rule</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elbv2-target-group") %>>
                            <a href="/docs/providers/bigip/r/lb_target_group.html">bigip_alb_target_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elbv2-target-group-attachment") %>>
                          <a href="/docs/providers/bigip/r/lb_target_group_attachment.html">bigip_alb_target_group_attachment</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ami") %>>
                            <a href="/docs/providers/bigip/r/ami.html">bigip_ami</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ami-copy") %>>
                            <a href="/docs/providers/bigip/r/ami_copy.html">bigip_ami_copy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ami-from-instance") %>>
                            <a href="/docs/providers/bigip/r/ami_from_instance.html">bigip_ami_from_instance</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ami-launch-permission") %>>
                            <a href="/docs/providers/bigip/r/ami_launch_permission.html">bigip_ami_launch_permission</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-app-cookie-stickiness-policy") %>>
                            <a href="/docs/providers/bigip/r/app_cookie_stickiness_policy.html">bigip_app_cookie_stickiness_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-autoscaling-attachment") %>>
                          <a href="/docs/providers/bigip/r/autoscaling_attachment.html">bigip_autoscaling_attachment</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-autoscaling-group") %>>
                            <a href="/docs/providers/bigip/r/autoscaling_group.html">bigip_autoscaling_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-autoscaling-lifecycle-hook") %>>
                            <a href="/docs/providers/bigip/r/autoscaling_lifecycle_hooks.html">bigip_autoscaling_lifecycle_hook</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-autoscaling-notification") %>>
                            <a href="/docs/providers/bigip/r/autoscaling_notification.html">bigip_autoscaling_notification</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-autoscaling-policy") %>>
                            <a href="/docs/providers/bigip/r/autoscaling_policy.html">bigip_autoscaling_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-autoscaling-schedule") %>>
                          <a href="/docs/providers/bigip/r/autoscaling_schedule.html">bigip_autoscaling_schedule</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-snapshot-create-volume-permission") %>>
                          <a href="/docs/providers/bigip/r/snapshot_create_volume_permission.html">bigip_snapshot_create_volume_permission</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ebs-snapshot") %>>
                          <a href="/docs/providers/bigip/r/ebs_snapshot.html">bigip_ebs_snapshot</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ebs-volume") %>>
                            <a href="/docs/providers/bigip/r/ebs_volume.html">bigip_ebs_volume</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-eip") %>>
                            <a href="/docs/providers/bigip/r/eip.html">bigip_eip</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-eip-association") %>>
                          <a href="/docs/providers/bigip/r/eip_association.html">bigip_eip_association</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elb") %>>
                            <a href="/docs/providers/bigip/r/elb.html">bigip_elb</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elb-attachment") %>>
                            <a href="/docs/providers/bigip/r/elb_attachment.html">bigip_elb_attachment</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-instance") %>>
                            <a href="/docs/providers/bigip/r/instance.html">bigip_instance</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-key-pair") %>>
                            <a href="/docs/providers/bigip/r/key_pair.html">bigip_key_pair</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-launch-configuration") %>>
                            <a href="/docs/providers/bigip/r/launch_configuration.html">bigip_launch_configuration</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-lb-cookie-stickiness-policy") %>>
                            <a href="/docs/providers/bigip/r/lb_cookie_stickiness_policy.html">bigip_lb_cookie_stickiness_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-lb-ssl-negotiation-policy") %>>
                            <a href="/docs/providers/bigip/r/lb_ssl_negotiation_policy.html">bigip_lb_ssl_negotiation_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-load-balancer-backend-server-policy") %>>
                            <a href="/docs/providers/bigip/r/load_balancer_backend_server_policy.html">bigip_load_balancer_backend_server_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-load-balancer-listener-policy") %>>
                            <a href="/docs/providers/bigip/r/load_balancer_listener_policy.html">bigip_load_balancer_listener_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-load-balancer-policy") %>>
                            <a href="/docs/providers/bigip/r/load_balancer_policy.html">bigip_load_balancer_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-placement-group") %>>
                            <a href="/docs/providers/bigip/r/placement_group.html">bigip_placement_group</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-proxy-protocol-policy") %>>
                            <a href="/docs/providers/bigip/r/proxy_protocol_policy.html">bigip_proxy_protocol_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-spot-datafeed-subscription") %>>
                            <a href="/docs/providers/bigip/r/spot_datafeed_subscription.html">bigip_spot_datafeed_subscription</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-spot-fleet-request") %>>
                            <a href="/docs/providers/bigip/r/spot_fleet_request.html">bigip_spot_fleet_request</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-spot-instance-request") %>>
                            <a href="/docs/providers/bigip/r/spot_instance_request.html">bigip_spot_instance_request</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-volume-attachment") %>>
                            <a href="/docs/providers/bigip/r/volume_attachment.html">bigip_volume_attachment</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-elbv2") %>>
                    <a href="#">Load Balancing Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-elbv2") %>>
                            <a href="/docs/providers/bigip/r/lb.html">bigip_lb</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elbv2-listener") %>>
                            <a href="/docs/providers/bigip/r/lb_listener.html">bigip_lb_listener</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elbv2-listener-rule") %>>
                          <a href="/docs/providers/bigip/r/lb_listener_rule.html">bigip_lb_listener_rule</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elbv2-target-group") %>>
                            <a href="/docs/providers/bigip/r/lb_target_group.html">bigip_lb_target_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elbv2-target-group-attachment") %>>
                          <a href="/docs/providers/bigip/r/lb_target_group_attachment.html">bigip_lb_target_group_attachment</a>
                        </li>
                    </ul>
                </li>


                <li<%= sidebar_current("docs-bigip-resource-(ecs|ecr)") %>>
                    <a href="#">ECS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-ecr-lifecycle-policy") %>>
                            <a href="/docs/providers/bigip/r/ecr_lifecycle_policy.html">bigip_ecr_lifecycle_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ecr-repository") %>>
                            <a href="/docs/providers/bigip/r/ecr_repository.html">bigip_ecr_repository</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ecr-repository-policy") %>>
                            <a href="/docs/providers/bigip/r/ecr_repository_policy.html">bigip_ecr_repository_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ecs-cluster") %>>
                            <a href="/docs/providers/bigip/r/ecs_cluster.html">bigip_ecs_cluster</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ecs-service") %>>
                            <a href="/docs/providers/bigip/r/ecs_service.html">bigip_ecs_service</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ecs-task-definition") %>>
                            <a href="/docs/providers/bigip/r/ecs_task_definition.html">bigip_ecs_task_definition</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-bigip-resource-efs") %>>
                    <a href="#">EFS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-efs-file-system") %>>
                            <a href="/docs/providers/bigip/r/efs_file_system.html">bigip_efs_file_system</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-efs-mount-target") %>>
                            <a href="/docs/providers/bigip/r/efs_mount_target.html">bigip_efs_mount_target</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-bigip-resource-elasticache") %>>
                    <a href="#">ElastiCache Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-elasticache-cluster") %>>
                            <a href="/docs/providers/bigip/r/elasticache_cluster.html">bigip_elasticache_cluster</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elasticache-parameter-group") %>>
                            <a href="/docs/providers/bigip/r/elasticache_parameter_group.html">bigip_elasticache_parameter_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elasticache-replication-group") %>>
                            <a href="/docs/providers/bigip/r/elasticache_replication_group.html">bigip_elasticache_replication_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elasticache-security-group") %>>
                            <a href="/docs/providers/bigip/r/elasticache_security_group.html">bigip_elasticache_security_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elasticache-subnet-group") %>>
                            <a href="/docs/providers/bigip/r/elasticache_subnet_group.html">bigip_elasticache_subnet_group</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-bigip-resource-elastic-beanstalk") %>>
                    <a href="#">Elastic Beanstalk Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-elastic-beanstalk-application") %>>
                            <a href="/docs/providers/bigip/r/elastic_beanstalk_application.html">bigip_elastic_beanstalk_application</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-elastic-beanstalk-application-version") %>>
                            <a href="/docs/providers/bigip/r/elastic_beanstalk_application_version.html">bigip_elastic_beanstalk_application_version</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-elastic-beanstalk-configuration-template") %>>
                            <a href="/docs/providers/bigip/r/elastic_beanstalk_configuration_template.html">bigip_elastic_beanstalk_configuration_template</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elastic-beanstalk-environment") %>>
                            <a href="/docs/providers/bigip/r/elastic_beanstalk_environment.html">bigip_elastic_beanstalk_environment</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-emr") %>>
                    <a href="#">Elastic Map Reduce Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-emr-cluster") %>>
                            <a href="/docs/providers/bigip/r/emr_cluster.html">bigip_emr_cluster</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-emr-instance-group") %>>
                            <a href="/docs/providers/bigip/r/emr_instance_group.html">bigip_emr_instance_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-emr-security-configuration") %>>
                            <a href="/docs/providers/bigip/r/emr_security_configuration.html">bigip_emr_security_configuration</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-elasticsearch") %>>
                    <a href="#">ElasticSearch Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-elasticsearch-domain") %>>
                            <a href="/docs/providers/bigip/r/elasticsearch_domain.html">bigip_elasticsearch_domain</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elasticsearch-domain-policy") %>>
                            <a href="/docs/providers/bigip/r/elasticsearch_domain_policy.html">bigip_elasticsearch_domain_policy</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-elastic-transcoder") %>>
                    <a href="#">Elastic Transcoder Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-elastic-transcoder-pipeline") %>>
                            <a href="/docs/providers/bigip/r/elastic_transcoder_pipeline.html">bigip_elastictranscoder_pipeline</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-elastic-transcoder-preset") %>>
                            <a href="/docs/providers/bigip/r/elastic_transcoder_preset.html">bigip_elastictranscoder_preset</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-glacier") %>>
                    <a href="#">Glacier Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bigip-resource-glacier-vault") %>>
                            <a href="/docs/providers/bigip/r/glacier_vault.html">bigip_glacier_vault</a>
                        </li>
                    </ul>
                 </li>


                <li<%= sidebar_current("docs-bigip-resource-iam") %>>
                    <a href="#">IAM Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-iam-access-key") %>>
                            <a href="/docs/providers/bigip/r/iam_access_key.html">bigip_iam_access_key</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-account-alias") %>>
                            <a href="/docs/providers/bigip/r/iam_account_alias.html">bigip_iam_account_alias</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-account-password-policy") %>>
                            <a href="/docs/providers/bigip/r/iam_account_password_policy.html">bigip_iam_account_password_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-group") %>>
                            <a href="/docs/providers/bigip/r/iam_group.html">bigip_iam_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-group-membership") %>>
                            <a href="/docs/providers/bigip/r/iam_group_membership.html">bigip_iam_group_membership</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-group-policy") %>>
                            <a href="/docs/providers/bigip/r/iam_group_policy.html">bigip_iam_group_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-group-policy-attachment") %>>
                            <a href="/docs/providers/bigip/r/iam_group_policy_attachment.html">bigip_iam_group_policy_attachment</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-instance-profile") %>>
                            <a href="/docs/providers/bigip/r/iam_instance_profile.html">bigip_iam_instance_profile</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-openid-connect-provider") %>>
                            <a href="/docs/providers/bigip/r/iam_openid_connect_provider.html">bigip_iam_openid_connect_provider</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-policy") %>>
                            <a href="/docs/providers/bigip/r/iam_policy.html">bigip_iam_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-policy-attachment") %>>
                            <a href="/docs/providers/bigip/r/iam_policy_attachment.html">bigip_iam_policy_attachment</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-role") %>>
                            <a href="/docs/providers/bigip/r/iam_role.html">bigip_iam_role</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-role-policy") %>>
                            <a href="/docs/providers/bigip/r/iam_role_policy.html">bigip_iam_role_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-role-policy-attachment") %>>
                            <a href="/docs/providers/bigip/r/iam_role_policy_attachment.html">bigip_iam_role_policy_attachment</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-saml-provider") %>>
                            <a href="/docs/providers/bigip/r/iam_saml_provider.html">bigip_iam_saml_provider</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-server-certificate") %>>
                            <a href="/docs/providers/bigip/r/iam_server_certificate.html">bigip_iam_server_certificate</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-user") %>>
                            <a href="/docs/providers/bigip/r/iam_user.html">bigip_iam_user</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-user-login-profile") %>>
                          <a href="/docs/providers/bigip/r/iam_user_login_profile.html">bigip_iam_user_login_profile</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-user-policy") %>>
                            <a href="/docs/providers/bigip/r/iam_user_policy.html">bigip_iam_user_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-user-policy-attachment") %>>
                            <a href="/docs/providers/bigip/r/iam_user_policy_attachment.html">bigip_iam_user_policy_attachment</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-iam-user-ssh-key") %>>
                          <a href="/docs/providers/bigip/r/iam_user_ssh_key.html">bigip_iam_user_ssh_key</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-iot") %>>
                  <a href="#">IoT Resources</a>
                  <ul class="nav nav-visible">

                    <li<%= sidebar_current("docs-bigip-resource-iot-certificate") %>>
                      <a href="/docs/providers/bigip/r/iot_certificate.html">bigip_iot_certificate</a>
                    </li>

                    <li<%= sidebar_current("docs-bigip-resource-iot-policy") %>>
                      <a href="/docs/providers/bigip/r/iot_policy.html">bigip_iot_policy</a>
                    </li>

                  </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-inspector") %>>
                  <a href="#">Inspector Resources</a>
                  <ul class="nav nav-visible">

                    <li<%= sidebar_current("docs-bigip-resource-inspector-assessment-target") %>>
                      <a href="/docs/providers/bigip/r/inspector_assessment_target.html">bigip_inspector_assessment_target</a>
                    </li>

                    <li<%= sidebar_current("docs-bigip-resource-inspector-assessment-template") %>>
                      <a href="/docs/providers/bigip/r/inspector_assessment_template.html">bigip_inspector_assessment_template</a>
                    </li>

                    <li<%= sidebar_current("docs-bigip-resource-inspector-resource-group") %>>
                      <a href="/docs/providers/bigip/r/inspector_resource_group.html">bigip_inspector_resource_group</a>
                    </li>

                  </ul>
                </li>


                <li<%= sidebar_current("docs-bigip-resource-kinesis") %>>
                    <a href="#">Kinesis Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-kinesis-stream") %>>
                            <a href="/docs/providers/bigip/r/kinesis_stream.html">bigip_kinesis_stream</a>
                        </li>

                    </ul>
                </li>

              <li<%= sidebar_current("docs-bigip-resource-kinesis-firehose") %>>
                <a href="#">Kinesis Firehose Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-bigip-resource-kinesis-firehose-delivery-stream") %>>
                    <a href="/docs/providers/bigip/r/kinesis_firehose_delivery_stream.html">bigip_kinesis_firehose_delivery_stream</a>
                  </li>

                </ul>
              </li>

              <li<%= sidebar_current("docs-bigip-resource-kms") %>>
                <a href="#">KMS Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-bigip-resource-kms-alias") %>>
                    <a href="/docs/providers/bigip/r/kms_alias.html">bigip_kms_alias</a>
                  </li>

                  <li<%= sidebar_current("docs-bigip-resource-kms-key") %>>
                    <a href="/docs/providers/bigip/r/kms_key.html">bigip_kms_key</a>
                  </li>

                </ul>
              </li>

              <li<%= sidebar_current("docs-bigip-resource-lambda") %>>
                  <a href="#">Lambda Resources</a>
                  <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-bigip-resource-lambda-alias") %>>
                          <a href="/docs/providers/bigip/r/lambda_alias.html">bigip_lambda_alias</a>
                      </li>
                      <li<%= sidebar_current("docs-bigip-resource-lambda-event-source-mapping") %>>
                          <a href="/docs/providers/bigip/r/lambda_event_source_mapping.html">bigip_lambda_event_source_mapping</a>
                      </li>
                      <li<%= sidebar_current("docs-bigip-resource-lambda-function") %>>
                          <a href="/docs/providers/bigip/r/lambda_function.html">bigip_lambda_function</a>
                      </li>
                      <li<%= sidebar_current("docs-bigip-resource-lambda-permission") %>>
                          <a href="/docs/providers/bigip/r/lambda_permission.html">bigip_lambda_permission</a>
                      </li>
                  </ul>
              </li>

                <li<%= sidebar_current("docs-bigip-resource-lightsail") %>>
                    <a href="#">Lightsail Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-lightsail-domain") %>>
                          <a href="/docs/providers/bigip/r/lightsail_domain.html">bigip_lightsail_domain</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-lightsail-instance") %>>
                            <a href="/docs/providers/bigip/r/lightsail_instance.html">bigip_lightsail_instance</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-lightsail-key-pair") %>>
                            <a href="/docs/providers/bigip/r/lightsail_key_pair.html">bigip_lightsail_key_pair</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-lightsail-static-ip") %>>
                            <a href="/docs/providers/bigip/r/lightsail_static_ip.html">bigip_lightsail_static_ip</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-lightsail-static-ip-attachment") %>>
                            <a href="/docs/providers/bigip/r/lightsail_static_ip_attachment.html">bigip_lightsail_static_ip_attachment</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-opsworks") %>>
                    <a href="#">OpsWorks Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-application") %>>
                            <a href="/docs/providers/bigip/r/opsworks_application.html">bigip_opsworks_application</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-custom-layer") %>>
                            <a href="/docs/providers/bigip/r/opsworks_custom_layer.html">bigip_opsworks_custom_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-ganglia-layer") %>>
                            <a href="/docs/providers/bigip/r/opsworks_ganglia_layer.html">bigip_opsworks_ganglia_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-haproxy-layer") %>>
                            <a href="/docs/providers/bigip/r/opsworks_haproxy_layer.html">bigip_opsworks_haproxy_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-instance") %>>
                            <a href="/docs/providers/bigip/r/opsworks_instance.html">bigip_opsworks_instance</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-java-app-layer") %>>
                            <a href="/docs/providers/bigip/r/opsworks_java_app_layer.html">bigip_opsworks_java_app_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-memcached-layer") %>>
                            <a href="/docs/providers/bigip/r/opsworks_memcached_layer.html">bigip_opsworks_memcached_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-mysql-layer") %>>
                            <a href="/docs/providers/bigip/r/opsworks_mysql_layer.html">bigip_opsworks_mysql_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-nodejs-app-layer") %>>
                            <a href="/docs/providers/bigip/r/opsworks_nodejs_app_layer.html">bigip_opsworks_nodejs_app_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-permission") %>>
                            <a href="/docs/providers/bigip/r/opsworks_permission.html">bigip_opsworks_permission</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-php-app-layer") %>>
                            <a href="/docs/providers/bigip/r/opsworks_php_app_layer.html">bigip_opsworks_php_app_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-rails-app-layer") %>>
                            <a href="/docs/providers/bigip/r/opsworks_rails_app_layer.html">bigip_opsworks_rails_app_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-rds-db-instance") %>>
                          <a href="/docs/providers/bigip/r/opsworks_rds_db_instance.html">bigip_opsworks_rds_db_instance</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-stack") %>>
                            <a href="/docs/providers/bigip/r/opsworks_stack.html">bigip_opsworks_stack</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-static-web-layer") %>>
                            <a href="/docs/providers/bigip/r/opsworks_static_web_layer.html">bigip_opsworks_static_web_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-opsworks-user-profile") %>>
                            <a href="/docs/providers/bigip/r/opsworks_user_profile.html">bigip_opsworks_user_profile</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-(db|rds)") %>>
                    <a href="#">RDS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-db-event-subscription") %>>
                            <a href="/docs/providers/bigip/r/db_event_subscription.html">bigip_db_event_subscription</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-db-instance") %>>
                            <a href="/docs/providers/bigip/r/db_instance.html">bigip_db_instance</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-db-option-group") %>>
                          <a href="/docs/providers/bigip/r/db_option_group.html">bigip_db_option_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-db-parameter-group") %>>
                            <a href="/docs/providers/bigip/r/db_parameter_group.html">bigip_db_parameter_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-db-security-group") %>>
                            <a href="/docs/providers/bigip/r/db_security_group.html">bigip_db_security_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-db-snapshot") %>>
                          <a href="/docs/providers/bigip/r/db_snapshot.html">bigip_db_snapshot</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-db-subnet-group") %>>
                            <a href="/docs/providers/bigip/r/db_subnet_group.html">bigip_db_subnet_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-rds-cluster") %>>
                            <a href="/docs/providers/bigip/r/rds_cluster.html">bigip_rds_cluster</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-rds-cluster-instance") %>>
                            <a href="/docs/providers/bigip/r/rds_cluster_instance.html">bigip_rds_cluster_instance</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-rds-cluster-parameter-group") %>>
                            <a href="/docs/providers/bigip/r/rds_cluster_parameter_group.html">bigip_rds_cluster_parameter_group</a>
                        </li>

                    </ul>
                </li>

              <li<%= sidebar_current("docs-bigip-resource-redshift") %>>
                <a href="#">Redshift Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-bigip-resource-redshift-cluster") %>>
                    <a href="/docs/providers/bigip/r/redshift_cluster.html">bigip_redshift_cluster</a>
                  </li>

                  <li<%= sidebar_current("docs-bigip-resource-redshift-parameter-group") %>>
                    <a href="/docs/providers/bigip/r/redshift_parameter_group.html">bigip_redshift_parameter_group</a>
                  </li>

                  <li<%= sidebar_current("docs-bigip-resource-redshift-security-group") %>>
                    <a href="/docs/providers/bigip/r/redshift_security_group.html">bigip_redshift_security_group</a>
                  </li>

                  <li<%= sidebar_current("docs-bigip-resource-redshift-subnet-group") %>>
                    <a href="/docs/providers/bigip/r/redshift_subnet_group.html">bigip_redshift_subnet_group</a>
                  </li>

                </ul>
              </li>

              <li<%= sidebar_current("docs-bigip-resource-waf") %>>
                <a href="#">WAF Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-bigip-resource-waf-bytematchset") %>>
                    <a href="/docs/providers/bigip/r/waf_byte_match_set.html">bigip_waf_byte_match_set</a>
                  </li>

                  <li<%= sidebar_current("docs-bigip-resource-waf-ipset") %>>
                    <a href="/docs/providers/bigip/r/waf_ipset.html">bigip_waf_ipset</a>
                  </li>

                  <li<%= sidebar_current("docs-bigip-resource-waf-rule") %>>
                    <a href="/docs/providers/bigip/r/waf_rule.html">bigip_waf_rule</a>
                  </li>

                  <li<%= sidebar_current("docs-bigip-resource-waf-rate-based-rule") %>>
                    <a href="/docs/providers/bigip/r/waf_rate_based_rule.html">bigip_waf_rate_based_rule</a>
                  </li>

                  <li<%= sidebar_current("docs-bigip-resource-waf-size-constraint-set") %>>
                    <a href="/docs/providers/bigip/r/waf_size_constraint_set.html">bigip_waf_size_constraint_set</a>
                  </li>

                  <li<%= sidebar_current("docs-bigip-resource-waf-sql-injection-match-set") %>>
                    <a href="/docs/providers/bigip/r/waf_sql_injection_match_set.html">bigip_waf_sql_injection_match_set</a>
                  </li>

                  <li<%= sidebar_current("docs-bigip-resource-waf-webacl") %>>
                    <a href="/docs/providers/bigip/r/waf_web_acl.html">bigip_waf_web_acl</a>
                  </li>

                  <li<%= sidebar_current("docs-bigip-resource-waf-xss-match-set") %>>
                    <a href="/docs/providers/bigip/r/waf_xss_match_set.html">bigip_waf_xss_match_set</a>
                  </li>

                </ul>
              </li>

              <li<%= sidebar_current("docs-bigip-resource-wafregional") %>>
                <a href="#">WAF Regional Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-bigip-resource-wafregional-bytematchset") %>>
                    <a href="/docs/providers/bigip/r/wafregional_byte_match_set.html">bigip_wafregional_byte_match_set</a>
                  </li>

                  <li<%= sidebar_current("docs-bigip-resource-wafregional-ipset") %>>
                    <a href="/docs/providers/bigip/r/wafregional_ipset.html">bigip_wafregional_ipset</a>
                  </li>

                </ul>
              </li>


                <li<%= sidebar_current("docs-bigip-resource-route53") %>>
                    <a href="#">Route53 Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-route53-delegation-set") %>>
                            <a href="/docs/providers/bigip/r/route53_delegation_set.html">bigip_route53_delegation_set</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-route53-health-check") %>>
                            <a href="/docs/providers/bigip/r/route53_health_check.html">bigip_route53_health_check</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-route53-record") %>>
                            <a href="/docs/providers/bigip/r/route53_record.html">bigip_route53_record</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-route53-zone") %>>
                            <a href="/docs/providers/bigip/r/route53_zone.html">bigip_route53_zone</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-route53-zone-association") %>>
                            <a href="/docs/providers/bigip/r/route53_zone_association.html">bigip_route53_zone_association</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-bigip-resource-s3") %>>
                    <a href="#">S3 Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-s3-bucket") %>>
                            <a href="/docs/providers/bigip/r/s3_bucket.html">bigip_s3_bucket</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-s3-bucket-notification") %>>
                            <a href="/docs/providers/bigip/r/s3_bucket_notification.html">bigip_s3_bucket_notification</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-s3-bucket-object") %>>
                            <a href="/docs/providers/bigip/r/s3_bucket_object.html">bigip_s3_bucket_object</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-s3-bucket-policy") %>>
                            <a href="/docs/providers/bigip/r/s3_bucket_policy.html">bigip_s3_bucket_policy</a>
                        </li>
                    </ul>
                </li>


                <li<%= sidebar_current("docs-bigip-resource-ses") %>>
                    <a href="#">SES Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-ses-active-receipt-rule-set") %>>
                            <a href="/docs/providers/bigip/r/ses_active_receipt_rule_set.html">bigip_ses_active_receipt_rule_set</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ses-domain-identity") %>>
                            <a href="/docs/providers/bigip/r/ses_domain_identity.html">bigip_ses_domain_identity</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ses-domain-dkim") %>>
                            <a href="/docs/providers/bigip/r/ses_domain_dkim.html">bigip_ses_domain_dkim</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ses-receipt-filter") %>>
                            <a href="/docs/providers/bigip/r/ses_receipt_filter.html">bigip_ses_receipt_filter</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ses-receipt-rule") %>>
                            <a href="/docs/providers/bigip/r/ses_receipt_rule.html">bigip_ses_receipt_rule</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ses-receipt-rule-set") %>>
                            <a href="/docs/providers/bigip/r/ses_receipt_rule_set.html">bigip_ses_receipt_rule_set</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ses-configuration-set") %>>
                            <a href="/docs/providers/bigip/r/ses_configuration_set.html">bigip_ses_configuration_set</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ses-event-destination") %>>
                            <a href="/docs/providers/bigip/r/ses_event_destination.html">bigip_ses_event_destination</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ses-template") %>>
                            <a href="/docs/providers/bigip/r/ses_template.html">bigip_ses_template</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-service-catalog") %>>
                    <a href="#">Service Catalog Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-servicecatalog-portfolio") %>>
                            <a href="/docs/providers/bigip/r/servicecatalog_portfolio.html">bigip_servicecatalog_portfolio</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-sfn") %>>
                    <a href="#">Step Function Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-sfn-activity") %>>
                            <a href="/docs/providers/bigip/r/sfn_activity.html">bigip_sfn_activity</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-sfn-state-machine") %>>
                            <a href="/docs/providers/bigip/r/sfn_state_machine.html">bigip_sfn_state_machine</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-bigip-resource-simpledb") %>>
                    <a href="#">SimpleDB Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-simpledb-domain") %>>
                            <a href="/docs/providers/bigip/r/simpledb_domain.html">bigip_simpledb_domain</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-bigip-resource-sns") %>>
                    <a href="#">SNS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-sns-topic") %>>
                            <a href="/docs/providers/bigip/r/sns_topic.html">bigip_sns_topic</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-sns-topic-policy") %>>
                            <a href="/docs/providers/bigip/r/sns_topic_policy.html">bigip_sns_topic_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-sns-topic-subscription") %>>
                            <a href="/docs/providers/bigip/r/sns_topic_subscription.html">bigip_sns_topic_subscription</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-ssm") %>>
                    <a href="#">SSM Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-ssm-activation") %>>
                            <a href="/docs/providers/bigip/r/ssm_activation.html">bigip_ssm_activation</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ssm-association") %>>
                            <a href="/docs/providers/bigip/r/ssm_association.html">bigip_ssm_association</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ssm-document") %>>
                            <a href="/docs/providers/bigip/r/ssm_document.html">bigip_ssm_document</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ssm-maintenance-window") %>>
                            <a href="/docs/providers/bigip/r/ssm_maintenance_window.html">bigip_ssm_maintenance_window</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ssm-maintenance-window-target") %>>
                            <a href="/docs/providers/bigip/r/ssm_maintenance_window_target.html">bigip_ssm_maintenance_window_target</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ssm-maintenance-window-task") %>>
                            <a href="/docs/providers/bigip/r/ssm_maintenance_window_task.html">bigip_ssm_maintenance_window_task</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ssm-patch-baseline") %>>
                            <a href="/docs/providers/bigip/r/ssm_patch_baseline.html">bigip_ssm_patch_baseline</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ssm-patch-group") %>>
                            <a href="/docs/providers/bigip/r/ssm_patch_group.html">bigip_ssm_patch_group</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-ssm-parameter") %>>
                            <a href="/docs/providers/bigip/r/ssm_parameter.html">bigip_ssm_parameter</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-ssm-resource-data-sync") %>>
                            <a href="/docs/providers/bigip/r/ssm_resource_data_sync.html">bigip_ssm_resource_data_sync</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-bigip-resource-sqs") %>>
                    <a href="#">SQS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-sqs-queue") %>>
                            <a href="/docs/providers/bigip/r/sqs_queue.html">bigip_sqs_queue</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-sqs-queue-policy") %>>
                            <a href="/docs/providers/bigip/r/sqs_queue_policy.html">bigip_sqs_queue_policy</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-bigip-resource-(default|customer|egress-only-internet-gateway|flow|internet-gateway|main-route|network|route-|security-group|security-group-attachment|subnet|vpc|vpn)") %>>
                    <a href="#">VPC Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-customer-gateway") %>>
                            <a href="/docs/providers/bigip/r/customer_gateway.html">bigip_customer_gateway</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-default-network-acl") %>>
                            <a href="/docs/providers/bigip/r/default_network_acl.html">bigip_default_network_acl</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-default-route-table") %>>
                            <a href="/docs/providers/bigip/r/default_route_table.html">bigip_default_route_table</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-default-security-group") %>>
                            <a href="/docs/providers/bigip/r/default_security_group.html">bigip_default_security_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-default-subnet") %>>
                            <a href="/docs/providers/bigip/r/default_subnet.html">bigip_default_subnet</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-default-vpc") %>>
                            <a href="/docs/providers/bigip/r/default_vpc.html">bigip_default_vpc</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-default-vpc-dhcp-options") %>>
                            <a href="/docs/providers/bigip/r/default_vpc_dhcp_options.html">bigip_default_vpc_dhcp_options</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-egress-only-internet-gateway") %>>
                          <a href="/docs/providers/bigip/r/egress_only_internet_gateway.html">bigip_egress_only_internet_gateway</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-flow-log") %>>
                            <a href="/docs/providers/bigip/r/flow_log.html">bigip_flow_log</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-internet-gateway") %>>
                            <a href="/docs/providers/bigip/r/internet_gateway.html">bigip_internet_gateway</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-main-route-table-assoc") %>>
                            <a href="/docs/providers/bigip/r/main_route_table_assoc.html">bigip_main_route_table_association</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-nat-gateway") %>>
                            <a href="/docs/providers/bigip/r/nat_gateway.html">bigip_nat_gateway</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-network-acl") %>>
                            <a href="/docs/providers/bigip/r/network_acl.html">bigip_network_acl</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-network-acl-rule") %>>
                          <a href="/docs/providers/bigip/r/network_acl_rule.html">bigip_network_acl_rule</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-network-interface") %>>
                            <a href="/docs/providers/bigip/r/network_interface.html">bigip_network_interface</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-network-interface-attachment") %>>
                            <a href="/docs/providers/bigip/r/network_interface_attachment.html">bigip_network_interface_attachment</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-route|") %>>
                          <a href="/docs/providers/bigip/r/route.html">bigip_route</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-route-table|") %>>
                            <a href="/docs/providers/bigip/r/route_table.html">bigip_route_table</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-route-table-association") %>>
                            <a href="/docs/providers/bigip/r/route_table_association.html">bigip_route_table_association</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-security-group") %>>
                            <a href="/docs/providers/bigip/r/security_group.html">bigip_security_group</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-network-interface-sg-attachment") %>>
                            <a href="/docs/providers/bigip/r/network_interface_sg_attachment.html">bigip_network_interface_sg_attachment</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-security-group-rule") %>>
                            <a href="/docs/providers/bigip/r/security_group_rule.html">bigip_security_group_rule</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-subnet") %>>
                            <a href="/docs/providers/bigip/r/subnet.html">bigip_subnet</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-vpc") %>>
                            <a href="/docs/providers/bigip/r/vpc.html">bigip_vpc</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-vpc-dhcp-options") %>>
                            <a href="/docs/providers/bigip/r/vpc_dhcp_options.html">bigip_vpc_dhcp_options</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-vpc-dhcp-options-association") %>>
                            <a href="/docs/providers/bigip/r/vpc_dhcp_options_association.html">bigip_vpc_dhcp_options_association</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-vpc-endpoint") %>>
                            <a href="/docs/providers/bigip/r/vpc_endpoint.html">bigip_vpc_endpoint</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-vpc-endpoint-route-table-association") %>>
                            <a href="/docs/providers/bigip/r/vpc_endpoint_route_table_association.html">bigip_vpc_endpoint_route_table_association</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-vpc-peering") %>>
                            <a href="/docs/providers/bigip/r/vpc_peering.html">bigip_vpc_peering_connection</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-vpc-peering-accepter") %>>
                            <a href="/docs/providers/bigip/r/vpc_peering_accepter.html">bigip_vpc_peering_connection_accepter</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-vpn-connection") %>>
                            <a href="/docs/providers/bigip/r/vpn_connection.html">bigip_vpn_connection</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-vpn-connection-route") %>>
                            <a href="/docs/providers/bigip/r/vpn_connection_route.html">bigip_vpn_connection_route</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-vpn-gateway-x") %>>
                            <a href="/docs/providers/bigip/r/vpn_gateway.html">bigip_vpn_gateway</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-vpn-gateway-attachment") %>>
                            <a href="/docs/providers/bigip/r/vpn_gateway_attachment.html">bigip_vpn_gateway_attachment</a>
                        </li>

                        <li<%= sidebar_current("docs-bigip-resource-vpn-gateway-route-propagation") %>>
                            <a href="/docs/providers/bigip/r/vpn_gateway_route_propagation.html">bigip_vpn_gateway_route_propagation</a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
