<%# Original work from https://github.com/DealerDotCom/terraform-provider-bigip %>
<%# Modifications Copyright 2019 F5 Networks Inc. %>
<%# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. %>
<%# If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.  %>
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-bigip-index") %>>
                    <a href="/docs/providers/bigip/index.html">BIG-IP Provider</a>
                </li>

                <li<%= sidebar_current("docs-bigip-resource") %>>
                <a href="#">Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-bigip-resource-device-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_as3.html">bigip_as3</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-device-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_do.html">bigip_do</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-device-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_cm_device.html">bigip_cm_device</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-device-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_command.html">bigip_command</a>
                        </li>
                         <li<%= sidebar_current("docs-bigip-resource-device-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_common_license_manage_bigiq.html">bigip_common_license_manage_bigiq</a>
                         </li>
                        <li<%= sidebar_current("docs-bigip-resource-devicegroup-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_cm_devicegroup.html">bigip_cm_devicegroup</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-datagroup-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_datagroup.html">bigip_ltm_datagroup</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-irule-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_irule.html">bigip_ltm_irule</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-monitor-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_monitor.html">bigip_ltm_monitor</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-node-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_node.html">bigip_ltm_node</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-profile_persistence_profile_cookie") %>>
                           <a href="/docs/providers/bigip/r/bigip_ltm_persistence_profile_cookie.html">bigip_ltm_persistence_profile_cookie</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-profile_persistence_profile_dstaddr") %>>
                           <a href="/docs/providers/bigip/r/bigip_ltm_persistence_profile_dstaddr.html">bigip_ltm_persistence_profile_dstaddr</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-profile_persistence_profile_srcaddr") %>>
                           <a href="/docs/providers/bigip/r/bigip_ltm_persistence_profile_srcaddr.html">bigip_ltm_persistence_profile_srcaddr</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-profile_persistence_profile_ssl") %>>
                           <a href="/docs/providers/bigip/r/bigip_ltm_persistence_profile_ssl.html">bigip_ltm_persistence_profile_ssl</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-policy-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_policy.html">bigip_ltm_policy</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-pool-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_pool.html">bigip_ltm_pool</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-pool-attachment-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_pool_attachment.html">bigip_ltm_pool_attachment</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-profile_fasthttp-x") %>>
                          <a href="/docs/providers/bigip/r/bigip_ltm_profile_fasthttp.html">bigip_ltm_profile_fasthttp</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-profile_fastl4") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_profile_fastl4.html">bigip_ltm_profile_fastl4</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-profile_http") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_profile_http.html">bigip_ltm_profile_http</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-profile_http2") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_profile_http2.html">bigip_ltm_profile_http2</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-profile_httpcompress") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_profile_httpcompress.html">bigip_ltm_profile_httpcompress</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-profile_oneconnect") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_profile_oneconnect.html">bigip_ltm_profile_oneconnect</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-profile_tcp-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_profile_tcp.html">bigip_ltm_profile_tcp</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-profile_client_ssl-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_profile_client_ssl.html">bigip_ltm_profile_client_ssl</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-profile_server_ssl-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_profile_server_ssl.html">bigip_ltm_profile_server_ssl</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-snat-x") %>>
                          <a href="/docs/providers/bigip/r/bigip_ltm_snat.html">bigip_ltm_snat</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-snatpool-x") %>>
                          <a href="/docs/providers/bigip/r/bigip_ltm_snatpool.html">bigip_ltm_snatpool</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-virtual_address-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_virtual_address.html">bigip_ltm_virtual_address</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-virtual_server-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ltm_virtual_server.html">bigip_ltm_virtual_server</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-ssl-certificate-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ssl_certificate.html">bigip_ssl_certificate</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-ssl-key-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_ssl_key.html">bigip_ssl_key</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-route-x") %>>
                          <a href="/docs/providers/bigip/r/bigip_net_route.html">bigip_net_route</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-selfip-x") %>>
                          <a href="/docs/providers/bigip/r/bigip_net_selfip.html">bigip_net_selfip</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-vlan-x") %>>
                          <a href="/docs/providers/bigip/r/bigip_net_vlan.html">bigip_net_vlan</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-iapp-x") %>>
                          <a href="/docs/providers/bigip/r/bigip_sys_iapp.html">bigip_sys_iapp</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-dns-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_sys_dns.html">bigip_sys_dns</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-ntp-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_sys_ntp.html">bigip_sys_ntp</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-provision-x") %>>
                            <a href="/docs/providers/bigip/r/bigip_sys_provision.html">bigip_sys_provision</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-snmp-x") %>>
                          <a href="/docs/providers/bigip/r/bigip_sys_snmp.html">bigip_sys_snmp</a>
                        </li>
                        <li<%= sidebar_current("docs-bigip-resource-snmp_traps-x") %>>
                          <a href="/docs/providers/bigip/r/bigip_sys_snmp_traps.html">bigip_sys_snmp_traps</a>
                        </li>
                    </ul>
                </li>

                    </ul>
                </li>

        </div>
    <% end %>

    <%= yield %>
<% end %>
